.link{
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: black;
    transition: all .3s ease;
}

.link:hover{
    background-color: rgb(206, 206, 206);
}